doctype html
html(lang="en")
  head
    title= 'app store search'
    link(href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css',rel="stylesheet")
    script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body
    div.container
      div.row
        div.form-inline
          div.form-group
            label 搜索词
            input.form-control(type='text')
          div.form-group
            select.form-control
              option(value='CN') 大陆
              option(value='US') 美区

